/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #5da87c;
    background-color: #5791a4;
  }
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #72b8a7;
    background-color: #bfa7ed;
  }