/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

  #content {
    margin-bottom: 10px;
    padding: 10px;
    border: solid 1px #687bb5;
    background-color: #bfa7ed;
  }

  h1{
    color:#bfa7ed;
    font-family: "papyrus";
    font-size: 200%;
  }


  p {
    font-family: "papyrus";
    text-indent:20px;
    margin-left: 10px;
  }

  .special-section {
    font-family: "calibri";
    background-color: rgb(237, 137, 153);
    font-weight: bold;
    border: dotted 5px rgb(77, 119, 236);
}

.red {
  color: red
}