/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #59d0fb;
    background-color: #35a47d;
  }
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #687bb5;
    background-color: #bfa7ed;
  }
  #Backround {
    margin: 10px;
    padding: 10px;
    border: solid 1px #286c5b;
    background-color: #4f84b5;
  }