/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #fb5959;
    background-color: #f1d151;
  }
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #72b8a7;
    background-color: #bfa7ed;
  }
  #Backround {
    margin: 10px;
    padding: 10px;
    border: solid 1px #72b8a7;
    background-color: #bfa7ed;
  }