/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#content {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #6f8cdd;
  background-color: #ef9eb8;
}

h1 {
  color: #245e61;
  font-family: 'Papyrus', fantasy;
  font-size: 200%;
}

p {
  font-family: 'Papyrus', fantasy;
  text-indent: 20px;
  margin-left: 10px;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #ab6dd2;
  background-color: #72b8a7;
}

body {
  background-color: #4ec1c3;
}